<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title><center>Comenzar viaje</center></ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <img src="assets/mapa.png"/>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Parada en: {{ mostrarDirePas() }}
      </ion-card-title>
      <ion-card-subtitle>Dirrecion de: {{ mostrarNombrePas() }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Destino: {{ mostrarDire() }}
      </ion-card-title>
      <ion-card-subtitle>Dirrecion de: {{ mostrarNombre() }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
