<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Horario Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
    <ion-list-header>
      <ion-label color="secondary" >¿A que hora sales? </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>lunes: </ion-label>
      <ion-input type="text" placeholder=""
                 name="lunes" [(ngModel)]= "horarioc.lunes" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Martes: </ion-label>
      <ion-input type="text" placeholder=""
                 name="martes" [(ngModel)]= "horarioc.martes" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Miercoles: </ion-label>
      <ion-input type="text" placeholder=""
                 name="miercoles" [(ngModel)]= "horarioc.miercoles" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Jueves: </ion-label>
      <ion-input type="text" placeholder=""
                 name="jueves" [(ngModel)]= "horarioc.jueves" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Viernes: </ion-label>
      <ion-input type="text" placeholder=""
                 name="viernes" [(ngModel)]= "horarioc.viernes" required>
      </ion-input>
    </ion-item>


    <ion-button [disabled] ="formulario.invalid"
            type="submit" expand="block" routerLink="/perfilc">
      Continuar
    </ion-button>

  </form>

</ion-content>
