<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   <ion-title color="primary">inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-inicio>
  <ion-inicio-content>
    <p class="titulo">
     TeLlevo 
    </p>
    <p class="subtitulo">
      ¡Organizate con tus amigos!
      <br><br>
    
      Selecciona tu Rol:
    </p>
    <br>

    <ion-content>
      <ion-item href="#"> 
        <ion-label color="secondary">¿Me llevas?</ion-label>
        <ion-button expanded="full"  routerLink="/pasajero">CLICK</ion-button>
    </ion-item>
    <br>
    <ion-item href="#"> 
      <ion-label color="secondary">¿Te llevo?</ion-label>
      <ion-button expanded="full"  routerLink="/conductor">CLICK</ion-button>
  </ion-item>
  <icon-card>
    <img src="assets/alumnod.jfif" class="ion-padding">
  </icon-card>
  <icon-card>
    <img src="assets/duoc_logo.png" class="ion-padding">
  </icon-card>
</ion-content>
  </ion-inicio-content>
</ion-inicio>
  
</ion-content>
