<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Pasajero</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
    <ion-list-header>
      <ion-label color="secondary">Formulario Pasajero </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Nombre y Apellido: </ion-label>
      <ion-input type="text" placeholder=""
                 name="nombre y Apellido" [(ngModel)]= "usuario.nombre" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" placeholder="Email"
                 name="email" value="" [(ngModel)]= "usuario.email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password" placeholder="Contraseña"
                 name="password" value="" [(ngModel)]= "usuario.password"
                 required>
      </ion-input>
    </ion-item>
     
    <ion-item>
      <ion-label>Escuela: </ion-label>
      <ion-input type="text" placeholder="Informatica"
                 name="Escuela" [(ngModel)]= "usuario.Escuela" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Carrera: </ion-label>
      <ion-input type="text" placeholder=""
                 name="carrera" [(ngModel)]= "usuario.Carrera" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Telefono : </ion-label>
      <ion-input type="number" value="333" placeholder="ingrese su telefono"
                 name="telefono" [(ngModel)]= "usuario.telefono" required>
      </ion-input>
    </ion-item>
    
  

<ion-item>
      <ion-label>Direccion: </ion-label>
      <ion-input type="text" placeholder=""
                 name="capacidad" [(ngModel)]= "usuario.Direccion" required>
      </ion-input>
    </ion-item>

    <ion-button [disabled] ="formulario.invalid"
            type="submit" expand="block" routerLink="/horario-p">
      Continuar
    </ion-button>

  </form>

</ion-content>
