<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
      </ion-card-header>

    <ion-card-content>
      <p class="parrafo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vitae nostrum a recusandae qui, est consequatur quibusdam quae sint ut. Suscipit magnam eius quas voluptatem debitis magni iste quaerat similique!
     </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#">
      <ion-icon slot="start" name="pin"></ion-icon>   
      <ion-label>cualquier texto</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/alert">
        View
      </ion-button>
    </ion-item>

    <ion-card-content>
      <p class="parrafo2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis necessitatibus facere repellat ipsum mollitia delectus modi neque non. Iure dolores at incidunt et sequi earum molestias vitae est rem!
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#">
      <ion-icon slot="start" name="wifi" color="primary"></ion-icon>
      <ion-label class="wifi">Item 1 Wifi</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon slot="start" name="walk" color="secondary"></ion-icon>
      <ion-label class="walk">Item 2 Walk</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon slot="start" name="warning" color="danger"></ion-icon>
      <ion-label class="warning">Item 3 Warning</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-title class="titulo">Cachorro</ion-card-title>
    <ion-card-content>
      <p class="parrafo2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, similique, vitae error accusamus dolorum vel blanditiis deserunt quae, maiores id aliquid ullam molestias ab dolor provident magnam odit repellat rem.
     </p>
    </ion-card-content>
    <icon-card>
      <img src="assets/cachorro.jpg" class="ion-padding">
    </icon-card>

  </ion-card>




</ion-content>
