.parrafo{
    text-align: justify;
    color:blue;
}

.parrafo2{
    color:brown;
    text-align: justify;
}

.wifi{

    color:darkblue;
}

.walk{
    color:darkorange;
}

.warning{
    color:red;
}

.titulo{
    padding: 10px;
    color:royalblue;
    text-align: center;
}