<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Perfil Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item href="#">
    <ion-icon slot="start" name="person-circle-outline" color="secondary" style="zoom:2.0;"></ion-icon>
    <ion-label class="iperfil" color="secondary">Conductor</ion-label>
  </ion-item>
  <br>


  <ion-button color="secondary">Viajar</ion-button>
  <ion-button color="secondary">Viajes</ion-button>
  <ion-button color="secondary">Pasajeros</ion-button>

<br>

<icon-card>
  <img src="assets/uberduoc.jpg" class="ion-padding">
</icon-card>
  <br>
  <ion-item>
  <ion-label position="stacked">Pasajero 1</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Pasajero 2</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Pasajero 3</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Pasajero 4</ion-label>
  <ion-input></ion-input>
</ion-item>
  
  

</ion-content>
